.container{
    display: flex;
    justify-content: space-between;
    padding: 8px, 80px, 0px, 80px;
    
}

.container img{   
    width: 172px;
    height: 100px;
}

.container button{
   width: 216px;
   height: 44px;
   border-radius: 32px;
   border: 1px solid #000C1A;
   padding: 10px,24px,10px,24px;
   margin-top: 20px;
   font-weight: 700;
   line-height: 24px;

    
}